.bannerContainer {
  position: relative;
  background-image: url('../../../assets/monitor-call.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  // margin-top: 4em;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .content {
    position: relative;
    z-index: 2;
    padding: 4rem;
    padding-top: 3rem;
    width: 100%;
    max-width: 600px;
  }

  h2 {
    font-size: clamp(2rem, 3vw, 3.75rem);
    margin-bottom: 1rem;
    color: #fff;
    max-width: 400px;
  }

  p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #a6a6b0;
    margin-bottom: 1em;
  }

  span {
    margin-right: 16px;
  }

  .contrast {
    color: var(--primary);
  }
}

@media (max-width: 767px) {
  .bannerContainer {
    display: flex;
    text-align: center;
    background-image: url('../../../assets/monitor-call-mobile.png');

    .content {
      padding: 1em;
      padding-top: 1em;
    }
  }
}
