.btn {
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  background-color: var(--primary);
  color: #fff;
  text-transform: uppercase;

  &.small {
    font-size: 14px;
  }

  &.medium {
    font-size: 16px;
    width: 13em;
  }

  &.large {
    font-size: 16px;
    width: 17em;
  }

    @media (max-width: 768px) {
    &.large {
      width: 100%;
    }
  }
}


