  .btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .msg {
    text-align: center;
    margin-top: 24px;
    color: var(--text-color);
  }

  @media (max-width: 768px) {
    .btn {
      gap: 8px;
    }

    .reactScrollLink {
      display: block;
      width: 100%;
    }
  }
