.inputContainer {
  margin-top: 10em;

  .tooltip {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 8px;
    animation: Info 0.5s;
    font-size: 16px;
  }

  .msgError {
    font-weight: 500;
    color: red;
  }

  .content {
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 4em;
    position: relative;

    h3 {
      text-align: center;
      font-size: 24px;
    }

    .info {
      position: absolute;
      top: 32px;
      right: 32px;
      cursor: pointer;
    }
  }

  .gridResult {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 16px;
  }

.centerResult {
  display: grid;
  grid-template-columns: minmax(600px, 700px);
  justify-content: center;
}

  .spinnerContainer {
    display: flex;
    justify-content: center;
  }
}

@keyframes Info {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
