.iconMenu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 999px;
  background-color: var(--text-color);
  display: block;
}

.bar1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 200ms 100ms;
}
.bar2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}
.bar3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 200ms 100ms;
}

.iconMenu.open {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}
