.resultContainer {
  background-color: var(--card-color);
  padding: 24px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  .content {

    .vehicleCard {
      padding: 16px;
      border-radius: 10px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 8px;
      color: var(--text-color);
    }

    p {
      font-size: 16px;
      color: var(--label-color);
      margin-bottom: 16px;
    }

    .priceHighlight {
      margin-top: 20px;
      padding: 15px;
      background: var(--card-price);
      border-radius: 8px;
      border-left: 4px solid var(--primary);

      .priceLabel {
        color: var(--label-color);
        margin-bottom: 4px;
        font-size: 14px;
        text-align: center;
      }

      .priceValue {
        font-size: 28px;
        font-weight: 700;
        color: var(--primary);
        text-align: center;
        margin: 0;
        flex-wrap: wrap;
      }
    }

    .gridContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .label {
        display: flex;
      }

      strong {
        color: var(--text-color);
      }
    }
  }
}
